ul {
    list-style: none;
}

.liButton {
    background-color: lightblue;
    color: blue;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}